<template>
    <li :class="classes" draggable="false" :id="id" :god="god.id">
        <div class="content-image" draggable="false">
            <img :src="image" draggable="false"/>
        </div>
        <div class="content-bar flex" draggable="false" v-if="type == 'person'">
            <div class="content-bar-text flex-child stretch flex column justified-c">
                <router-link :to="'/profile/'+user.id" style="pointer-events:auto;"><h2 class="olympus__title sm black-text">{{user.profile.firstName}}<span v-if="age">,{{age}}</span></h2></router-link>
                <span class="content-bar-text-subtitle" v-if="user.profile.job">{{user.profile.job}}</span>
            </div>
            <router-link :to="godLink" class="content-bar-icon flex centered">
                <img draggable="false" :src="icon" :title="god.title"/>
            </router-link>
        </div>
        <div class="content-bar text-center" draggable="false" v-else>
            <h3 class="text-uppercase text-center">{{god.title}}</h3>
        </div>
        <router-link class="info-orb top right big" :to="'/gods/'+id" v-if="type !== 'person'">i</router-link>
    </li>
</template>

<script>
    export default {
        props: ['id','type','user','god',],
        data(){
            return {
            };
        },

        mounted() {
            const self = this;
            //console.log('SELF', self);
        },
        computed: {
            godLink:  function () {
                return "/gods/"+this.god.id;
            },
            classes: function(){
                return "swipe-card person "+this.type;
            },
            image: function() {
                if(this.type == 'person'){
                    return '/img/users/'+this.user.profile.profile_picture;
                } else {
                    return '/img/gods/'+this.god.icon;
                }
            },
            icon: function() {
                if(this.type == 'person'){
                    return '/img/gods/'+this.god.icon;
                } else {
                    return '/img/gods/'+this.god.icon;
                }
            },
            age: function(){
                if(this.user.profile.dateOfBirth !==  null){
                    let dob = this.user.profile.dateOfBirth;
                    let today = new Date();
                    let birthDate = new Date(dob);
                    let age = today.getFullYear() - birthDate.getFullYear();
                    let m = today.getMonth() - birthDate.getMonth();
                    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                        return age--;
                    }
                } else {
                    return null;
                }
            }

        }
    }
</script>