<template>
    <div class="block block-auto flex column" >
        <div class="block-content">
            <div class="block-text flex column">
                <router-link :to="'/profile/'+user.id" v-if="!deleted && authenticated">{{ fullName }}</router-link>
                <router-link to="/login" v-if="!authenticated && !deleted">{{ fullName }}</router-link>
                <p v-if="deleted" class="no-margin">Redacted</p>
                <p v-if="!editing && !deleted">{{ commento.body }}</p>
                <p v-if="deleted" class="no-margin">This comment has been removed.</p>
                <div class="replier" v-if="editing">
                    <textarea class="replier-input" v-model="editReply"></textarea>
                    <button class="btn" @click="edit">Edit</button>
                </div>
            </div>
            <div class="block-actions flex">
                <a class="request-button block-action" @click="editComment" v-if="(user.id == userid) && !deleted">
                    <p>Edit</p>
                </a>
                <a class="request-button block-action" @click="removeComment" v-if="(user.id == userid) && !deleted">
                    <p>Remove</p>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    import Comment from './Comment.vue';
    export default {
        components: {
            'comment': Comment,
        },
        props:['id','body','user','children','referendum'],
        data(){
            const self = this;
            return {
                authenticated: Vue.authentication.user.authenticated,
                userid: Vue.authentication.user.user.id,
                replying: false,
                userReply:'',
                editing:false,
                editReply: this.body,
                deleting:false,
                deleted:false,
                commento: {
                    id: this.id,
                    body: this.body,
                    user: this.user,
                    children: (this.children?this.children:[]),
                    referendum: this.referendum
                }
            }
        },
        methods: {
            editComment(){
                this.editing  = (this.editing)?false:true;
            },
            edit(){
                const self = this;
                Vue.axios.patch('api/comments/'+this.id, {
                    'body': self.editReply,
                    'user': Vue.authentication.user.user.id,
                }).then(function (response) {
                    console.log('Edited a comment',response.data);
                    self.editing = false;
                });
            },
            removeComment(){
                this.deleting = (this.deleting)?false:true;
            },
            remove(){
                const self = this;
                Vue.axios.delete('api/comments/'+this.id).then(function (response) {
                    console.log('Removed a comment',response.data);
                    self.deleted = true;
                    self.deleting = false;
                });
            },
            replyComment(){
                this.replying = (this.replying)?false:true;
            },
            reply(){
                const self = this;
                Vue.axios.post('api/comments', {
                    'user':Vue.authentication.user.user.id,
                    'body': self.userReply,
                    'referendum': self.referendum,
                    'parent': self.id,
                }).then(function (response) {
                    console.log('Replied to a comment',response.data);
                    self.commento.children.push({
                        id:response.data.id,
                        body:response.data.body,
                        referendum_id:response.data.referendum_id,
                        user:Vue.authentication.user.user,
                        children:[],
                    });
                    self.userReply = '';
                    self.replying = false;
                });
            },
        },
        mounted(){
            if(this.user.id == 1){
                this.deleted = true;
            }
        },
        computed:{
            fullName(){
                if(this.user.id == 1){
                    this.deleted = true;
                    return 'Redacted';
                } else {
                    let fullName = this.user.profile.firstName;
                    if(this.user.profile.lastName){
                        fullName = fullName.concat(' '+this.user.profile.lastName)
                    }
                    return fullName;
                }
            }
        },
    }
</script>