<template>
    <span>
        <div class="modal">
            <div class="modal-background" @click="cancel"></div>
            <div class="modal-content">
            <div class="box">
                    <div class="content has-text-centered">
                        <h1 class="title">{{ message }}</h1>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <button class="button is-large is-primary is-fullwidth"
                                    :class="{ 'is-loading': isConfirmLoading }"
                                    @click="confirm"
                            >Confirm</button>
                        </div>
                        <div class="column">
                            <button @click="cancel" class="button is-large is-is-default is-fullwidth">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close" @click="cancel"></button>
        </div>
    </span>
</template>
<script>
    export default {
        props: {
            message: {
                type: String,
                default: 'Are you sure?',
            },
            'auto-close': {
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                isConfirmLoading: false,
            }
        },

        methods: {

            onModalOpen() {
                this.isConfirmLoading = false;
            },

            confirm() {
                this.isConfirmLoading = true;
                this.$emit( 'confirm' )
                if (this.autoClose) {
                    this.close();
                }
            },
            cancel() {
                this.$emit( 'cancel' )
                this.close();
            },
        }
    }
</script>