<template>
    <div class="gods-list" draggable="false">
        <div class="content-header flex wrap marged-bottom-s">
            <div class="content-header-title flex-child stretch text-center">Gods</div>
        </div>
        <div class="list-stack-container" draggable="false">
            <ul class="list-stack blocks" draggable="false">
                <li class="request block block-auto flex" v-for="request in gods">
                    <div class="request-text block-content flex column centered">
                        <router-link class="flex flex-child stretch centered justified-c" :to="'/gods/'+request.id">
                            <h4 class="block-title request-title text-center unlimited">{{request.title}}</h4>
                        </router-link>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    //console.log('Candidates',preCandidates);
    export default {
        data(){
            return {
                gods: [],
                bound: false,
            }
        },

        mounted() {
            var self = this;
            //console.log('Init card swing system');
            self.initRequests();

        },
        watch: {
        },
        methods: {
            initRequests(){
                this.fetchGods(this);
            },
            fetchGods: function() {
                const self = this;
                const user = Vue.authentication.user.user.id;
                Vue.axios.get('api/gods').then(function (responso) {
                    //console.log('Gods',responso.data);
                    self.gods = responso.data;
                });

            },
        }
    }
</script>