<template>
    <div class="content">
        <div class="back-bar">
            <a class="back-button">BACK</a>
        </div>
        <div class="content-wrapper">
            <h1>My Gods</h1>
            <h4>New God</h4>
            <form action="#" @submit.prevent="edit ? updateGod(god.id) : createGod()">
                <div class="input-group">
                    <input v-model="god.body" ref="godinput" type="text" name="body" class="form-control" autofocus>
                    <span class="input-group-btn">
                    <button v-show="!edit" type="submit" class="btn btn-primary">New God</button>
                    <button v-show="edit" type="submit" class="btn btn-primary">Edit God</button>
                </span>
                </div>
            </form>
            <h4>All Gods</h4>
            <ul class="list-group">
                <li class="list-group-item" v-for="god in list">
                    {{ god.body }}
                    <button @click="showGod(god.id)" class="btn btn-primary btn-xs">Edit</button>
                    <button @click="deleteGod(god.id)" class="btn btn-danger btn-xs">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data: function() {
            return {
                edit: false,
                list: [],
                god: {
                    id: '',
                    body: ''
                }
            };
        },

        mounted: function() {
            this.fetchGodList();
        },

        methods: {
            fetchGodList: function() {
                this.$http.get('api/gods').then(function (response) {
                    this.list = response.data
                });
            },

            createGod: function () {
                this.$http.post('api/gods', this.god)
                this.god.body = ''
                this.edit = false
                this.fetchGodList()
            },

            updateGod: function(id) {
                this.$http.patch('api/gods/' + id, this.god)
                this.god.body = ''
                this.edit = false
                this.fetchGodList()
            },

            showGod: function(id) {
                this.$http.get('api/gods/' + id).then(function(response) {
                    this.god.id = response.data.id
                    this.god.body = response.data.body
                })
                this.$refs.godinput.focus()
                this.edit = true
            },

            deleteGod: function (id) {
                this.$http.delete('api/gods/' + id)
                this.fetchGodList()
            },
        }
    }
</script>