<template>
    <div class="god-list"  draggable="false">
        <div class="content-header flex marged-bottom-xl">
            <div class="content-header-text flex-child stretch text-center">Become a god</div>
        </div>
        <div class="swipe-card-stack-container" draggable="false" v-if="gods.length > 0">
            <ul class="swipe-card-stack stack" draggable="false">
                <card v-for="card in gods"
                      v-bind:id="card.id"
                      v-bind:type='type'
                      v-bind:god="card">

                </card>
            </ul>
        </div>
        <div class="flex-child stretch flex justified-c center" v-else>
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</template>
<script>
    import Card from './Card.vue';
    export default {
        components: {
            'card': Card,
        },

        data(){
            return {
                heap: '',
                type: 'god',
                count: 0,
                gods: [],
                bound: false,
            }
        },

        mounted() {
            const self = this;
            //console.log('Init card swing system');
            self.initCards();
            //console.log('SELF',self);
            self.fetchGods(self);
        },
        computed: {
        },
        methods: {
            fetchGods: function(self) {
                Vue.axios.get('api/gods').then(function (response) {
                    //console.log(response.data);

                    self.gods = response.data.reverse();
                    setTimeout(function(){
                        self.prepStack();
                    },10);
                });
            },
            initCards(){
                const config = {
                    minThrowOutDistance: 10000,
                    maxThrowOutDistance: 10000,
                };
                this.heap = window.swing.Stack(config);
            },
            prepStack(){
                const self = this;
                const config = {
                    minThrowOutDistance: 10000,
                    maxThrowOutDistance: 10000,
                };
                self.heap = window.swing.Stack(config);
                let cards = document.querySelectorAll('.stack li');
                //console.log('Prepping shit and checking the current stack cards',document.querySelectorAll('.stack li'));
                [].forEach.call(cards, function (targetElement) {
                    //console.log('SELF HEAP',self.heap);
                    self.heap.createCard(targetElement);
                    targetElement.classList.add('in-deck');
                });
                if(!self.bound){
                    self.heap.on('throwin', function (e) {
                        //console.log(e.target.innerText || e.target.textContent, 'has been thrown into the stack from the', e.throwDirection, 'direction.');
                    });

                    self.heap.on('throwout', function (e) {
                        //console.log(e.target.innerText || e.target.textContent, 'has been thrown out of the stack to the', e.throwDirection, 'direction.');
                        //document.querySelector('.stack').appendChild(e.target);
                    });
                    self.heap.on('throwoutend', function (e) {
                        let cards = document.querySelectorAll('.stack li');
                        let card = document.querySelector('.stack').lastChild;
                        card.parentNode.insertBefore(card,cards[0]);
                        self.heap.getCard(card).destroy();
                        card.style.transform = 'translate3d(0px, 0px, 0px) translate(0px, 0px) rotate(0deg)';
                        self.heap.createCard(card,true);
                    });
                    self.bound = true;
                }
            }
        }
    }
</script>