<template>
    <div class="header-content">
        <div class="nav-wrapper flex">
            <a href="#" data-activates="nav-mobile" class="button-collapse" @click.prevent="toggleNav"><i class="material-icons">menu</i></a>
            <a id="logo-container" class="brand-logo flex flex-child justified-c stretch">
                <object id="front-page-logo" type="image/svg+xml" data="/img/logo/logo-transparent.svg">Your browser does not support SVG</object>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                state: false
            };
        },
        methods: {
            toggleNav(){
                var self = this;
                self.$parent.$refs.nav.updateNav();
                if(self.state){
                    document.querySelector('.navigation').classList.add('active');
                    self.state = false;
                } else {
                    document.querySelector('.navigation').classList.remove('active');
                    self.state = true;
                }

            }
        },
        mounted(){
            //console.log('MOUNTED');
            const self = this;
            this.toggleNav();
            setTimeout(function(){
                var links = document.querySelectorAll('.navigation .nav-link');
                [].forEach.call(links, function (link) {
                    link.addEventListener('click',function(){
                        self.toggleNav();
                    });
                });
            },100);
        }

    }
</script>
