<template>
    <div class="side-nav navigation flex column" id="nav">
        <section v-for="section in links" :class="(section.stretch)?'flex-child stretch':''">
            <ul v-if="authenticated">
                <li v-for="link in section.pages" v-if="link !== null">
                    <router-link :to="link.path" v-if="link.path" class="nav-link">
                        {{ link.name }}
                    </router-link>
                    <a v-if="link.use" @click="executor(link.use)">
                        {{ link.name }}
                    </a>
                </li>
            </ul>
            <ul v-if="!authenticated">
                <li v-for="link in section.pages" v-if="link !== null">
                    <router-link :to="link.path" v-if="link.path" class="nav-link">
                        {{ link.name }}
                    </router-link>
                    <a v-if="link.use" @click="executor(link.use)">
                        {{ link.name }}
                    </a>
                </li>
            </ul>
        </section>
    </div>
</template>
<script>
    export default {
        props: ['page'],
        data() {
            let authenticated = Vue.authentication.user.authenticated;
            return {
                authenticated: Vue.authentication.user.authenticated,
                links: [
                    { section: 'navi', title:'Pages', stretch:true, pages: [
                        (authenticated)?{name: 'Vote', path: '/vote'}:{name: 'Vote', path: '/login'},
                        (authenticated)?{name: 'Ascend', path: '/ascend'}:{name: 'Ascend', path: '/login'},
                        {name: 'Pantheons', path: '/pantheons'},
                        {name: 'Requests', path: '/requests'},
                        ]
                    },
                    { section: 'info', title:'Library', stretch:false, pages:
                        [
                            {name: 'Info', path: '/info'},
                            {name: 'About', path: '/about'},
                            {name: 'Disclaimer', path: '/disclaimer'},
                        ]
                    },
                    { section: 'login', title:'Account', stretch:false, pages:
                        [
                            (!authenticated)?{name: 'Login', path: '/login'}:{name: 'Profile', path: '/profile'},
                            (!authenticated)?{name: 'Register', path: '/register'}:{name: 'Log Out', use: 'logout'},
                        ]
                    },
                ],
            };
        },
        watch: {
            'authenticated': function(val){
                this.updateNav(val);
            }
        },
        methods: {
            executor(target){
                const self  = this;
                switch(target){
                    case 'logout': self.logout();break;
                }
            },
            logout(){
                this.authenticated = false;
                this.$parent.$refs.header.toggleNav();
                Vue.authentication.logout();
            },
            updateNav(val){
                if(val == null){
                    val = Vue.authentication.user.authenticated;
                }
                this.links = [
                    { section: 'navi', title:'Pages', stretch:true, pages: [
                        (val)?{name: 'Vote', path: '/vote'}:{name: 'Vote', path: '/login'},
                        (val)?{name: 'Ascend', path: '/ascend'}:{name: 'Ascend', path: '/login'},
                        {name: 'Pantheons', path: '/pantheons'},
                        {name: 'Requests', path: '/requests'},
                    ]
                    },
                    { section: 'info', title:'Library', stretch:false, pages:
                        [
                            {name: 'Info', path: '/info'},
                            {name: 'About', path: '/about'},
                            {name: 'Disclaimer', path: '/disclaimer'},
                        ]
                    },
                    { section: 'login', title:'Account', stretch:false, pages:
                        [
                            (!val)?{name: 'Login', path: '/login'}:{name: 'Profile', path: '/profile'},
                            (!val)?{name: 'Register', path: '/register'}:{name: 'Log Out', use: 'logout'},
                        ]
                    },
                ];
            }
        }
    }
</script>