<template>
    <div class="pantheon-list"  draggable="false">
        <div class="content-header flex marged-bottom-xl">
            <button class="content-header-arrow-left" @click="prevStack" :disabled="prevLimit">
                <div class="content-header-arrow-inner"></div>
            </button>
            <div class="content-header-text flex-child stretch text-center">{{pantheonName}}</div>
            <button class="content-header-arrow-right" @click="nextStack" :disabled="nextLimit">
                <div class="content-header-arrow-inner"></div>
            </button>
        </div>
        <div class="swipe-card-stack-container" draggable="false" v-if="pantheon.members.length > 0">
            <ul class="swipe-card-stack stack" draggable="false">
                <card v-for="card in pantheon.members"
                      v-bind:id="card.id"
                      v-bind:type='type'
                      v-bind:user="card.user"
                      v-bind:god="card.god">

                </card>
            </ul>
        </div>
        <div class="flex-child stretch flex justified-c center" v-else>
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</template>
<script>
    import Card from './Card.vue';
    export default {
        components: {
            'card': Card,
        },

        data(){
            return {
                heap: '',
                stacks: [],
                type: 'person',
                count: 0,
                pantheon: {
                    id: '',
                    month: '',
                    members: []
                },
                bound: false,
            }
        },

        mounted() {
            const self = this;
            //console.log('Init card swing system');
            self.initCards();
            //console.log('SELF',self);
            self.fetchPantheons(self);
        },
        computed: {
            pantheonName(){
                if(this.pantheon.month !== ''){
                    return 'The Pantheon of '+this.pantheon.month;
                } else {
                    return null;
                }
            },
            prevLimit(){
                if(this.pantheon.id !== ''){
                    return this.pantheon.id == this.stacks[this.stacks.length - 1].id;
                } else {
                    return false;
                }
            },
            nextLimit(){
                if(this.pantheon.id !== ''){
                    return this.pantheon.id == this.stacks[0].id;
                } else {
                    return false;
                }
            }
        },
        methods: {
            fetchPantheons: function(self) {
                Vue.axios.get('api/pantheons').then(function (response) {
                    //console.log(response.data);
                    let cardstacks = [];
                    let m_names = new Array("January", "February", "March",
                        "April", "May", "June", "July", "August", "September",
                        "October", "November", "December");
                    let i = 0;
                    for(let stacku of response.data){
                        //console.log('PANTHEON',stacku);
                        let d = new Date(stacku.startDate);
                        let month = m_names[d.getMonth()];
                        cardstacks.push({
                          id: stacku.id,
                          month: month,
                          members: stacku.members
                        });
                        if(i === 0){
                            self.pantheon = {
                                id: stacku.id,
                                month: month,
                                members: stacku.members
                            }
                            self.count = 0;
                        }
                        ++i;
                    }
                    self.stacks = cardstacks;
                    setTimeout(function(){
                        self.prepStack();
                    },10);
                });
            },
            nextStack(){
                const self = this;
                if(this.pantheon.id !== this.stacks[0].id){
                    this.pantheon = this.stacks[--this.count];
                    setTimeout(function(){
                        self.prepStack();
                    },10);
                }
            },
            prevStack(){
                const self = this;
                if(this.pantheon.id !== this.stacks[this.stacks.length - 1].id){
                    this.pantheon = this.stacks[++this.count];
                    setTimeout(function(){
                        self.prepStack();
                    },10);
                }
            },
            initCards(){
                const config = {
                    minThrowOutDistance: 10000,
                    maxThrowOutDistance: 10000,
                };
                this.heap = window.swing.Stack(config);
            },
            prepStack(){
                const self = this;
                const config = {
                    minThrowOutDistance: 10000,
                    maxThrowOutDistance: 10000,
                };
                self.heap = window.swing.Stack(config);
                let cards = document.querySelectorAll('.stack li');
                //console.log('Prepping shit and checking the current stack cards',document.querySelectorAll('.stack li'));
                [].forEach.call(cards, function (targetElement) {
                    //console.log('SELF HEAP',self.heap);
                    self.heap.createCard(targetElement);
                    targetElement.classList.add('in-deck');
                });
                if(!self.bound){
                    self.heap.on('throwin', function (e) {
                        //console.log(e.target.innerText || e.target.textContent, 'has been thrown into the stack from the', e.throwDirection, 'direction.');
                    });

                    self.heap.on('throwout', function (e) {
                        //console.log(e.target.innerText || e.target.textContent, 'has been thrown out of the stack to the', e.throwDirection, 'direction.');
                        //document.querySelector('.stack').appendChild(e.target);
                    });
                    self.heap.on('throwoutend', function (e) {
                        let cards = document.querySelectorAll('.stack li');
                        let card = document.querySelector('.stack').lastChild;
                        card.parentNode.insertBefore(card,cards[0]);
                        self.heap.getCard(card).destroy();
                        card.style.transform = 'translate3d(0px, 0px, 0px) translate(0px, 0px) rotate(0deg)';
                        self.heap.createCard(card,true);
                    });
                    self.bound = true;
                }
            }
        }
    }
</script>