<template>
    <div class="referendums-list" draggable="false">
        <div class="content-header flex wrap marged-bottom-xl">
            <div class="content-header-title flex-child stretch text-center">Referendums</div>
            <div class="content-header-actions">
                <ul class="flex no-margin">
                    <li :class="'content-header-action flex-child stretch' + ((filter == 'popular')?' active':'')" @click="sortReferendums('popular')">Popular</li>
                    <li :class="'content-header-action flex-child stretch' + ((filter == 'new')?' active':'')" @click="sortReferendums('new')">New</li>
                    <li :class="'content-header-action flex-child stretch' + ((filter == 'passed')?' active':'')" @click="sortReferendums('passed')">Answered</li>
                </ul>
            </div>
        </div>
        <div class="list-stack-container" draggable="false">
            <ul class="list-stack blocks" draggable="false">
                <li :class="'request block flex '+((request.voted !== false)?'voted':'')" v-for="request in referendums.current">
                    <div class="request-text block-content flex column">
                        <router-link :to="'/requests/'+request.id">
                            <h4 class="block-title request-title">{{request.title}}</h4>
                        </router-link>
                        <div class="request-buttons block-actions flex">
                            <router-link :to="'/requests/'+request.id" class="request-button block-action" v-if="request.comments.length > 0">
                                <p>{{ request.comments.length }} comments</p>
                            </router-link>
                            <router-link :to="'/requests/'+request.id" class="request-button block-action">
                                <p>{{ request.votes.length }} votes</p>
                            </router-link>
                        </div>
                    </div>
                    <div class="request-vote-btn block-button" @click="voteReferendum($event,request)" title="Vote"><i class="material-icons">add</i></div>
                </li>
                <li class="load-more" @click="loadMore">
                    <span v-if="referendums.keyRange < (referendums.sorted.length - 1)">More referendums?</span>
                    <span v-if="referendums.keyRange >= (referendums.sorted.length - 1)">You've reached the end.</span>
                </li>
            </ul>
        </div>
        <router-link to="/requests/new" class="btn-large btn-round pos-fix black-text" style="bottom:20px;right:5px;"><i class="material-icons">add</i></router-link>
    </div>
</template>
<script>
    //console.log('Candidates',preCandidates);
    export default {
        data(){
            return {
                referendums: {
                    active: [],
                    passed: [],
                    sorted: [],
                    current: [],
                    keyRange: 0,
                    step: 20,
                },
                filter: 'popular',
                bound: false,
            }
        },

        mounted() {
            var self = this;
            //console.log('Init card swing system');
            self.initRequests();

        },
        watch: {
        },
        methods: {
            initRequests(){
                this.fetchReferendums(this);
            },
            fetchReferendums: function(self) {
                const user = Vue.authentication.user.user.id;
                Vue.axios.get('api/referendums').then(function (responso) {
                    //console.log('Referendums',responso.data);
                    let activeReferendums = [];
                    let passedReferendums = [];
                    for(let request of responso.data){
                        let voted = false;
                        if(request.votes !== null){
                            for(var i = 0, l = request.votes.length; i < l; i++){
                                if(request.votes[i].user_id == user && request.votes[i].value === 1){
                                    //console.log('Vote',request.votes[i]);
                                    voted = request.votes[i].id;
                                }
                            }
                        }
                        request.voted = voted;
                        if(request.active){
                            activeReferendums.push(request);
                        } else {
                            passedReferendums.push(request);
                        }
                    }
                    self.referendums.active = activeReferendums;
                    self.referendums.passed = passedReferendums;
                    setTimeout(function(){
                        self.prepReferendums();
                    },10);
                });

            },
            prepReferendums: function(){
                this.sortReferendums('popular');
            },
            voteReferendum: function($event,$request){
                if($request.voted !== false){
                    Vue.axios.delete('api/votes/'+$request.voted).then(function (response) {
                        //console.log('Removed the vote',response.data);
                        $request.voted = false;
                        $request.votes.splice(0,1);
                    });

                } else {
                    Vue.axios.post('api/votes', {
                        'user':Vue.authentication.user.user.id,
                        'election': null,
                        'candidate': null,
                        'value': 1,
                        'referendum': $request.id,
                    }).then(function (response) {
                        //console.log('Voted for a referendum',response.data);
                        $request.voted = response.data.id;
                        $request.votes.push(response.data);
                    });

                }
            },
            sortReferendums: function(sort){
                const self = this;

                let refers = self.referendums.active;
                switch(sort){
                    case 'new':
                        refers.sort(function(a,b){
                            return new Date(a.created_at) - new Date(b.created_at);
                        });
                        self.referendums.sorted = refers.reverse();
                        self.referendums.current = refers.slice(0,(self.referendums.step - 1));
                        self.referendums.keyRange = 19;
                        break;
                    case 'popular':
                        //console.log('Referendums',self.referendums);
                        refers.sort(function(a,b){
                            return a.votes.length - b.votes.length;
                        });
                        self.referendums.sorted = refers.reverse();
                        self.referendums.current = refers.slice(0,(self.referendums.step - 1));
                        self.referendums.keyRange = 19;
                        break;
                    case 'passed':
                        refers = self.referendums.passed;
                        refers.sort(function(a,b){
                            return a.votes.length - b.votes.length;
                        });
                        self.referendums.sorted = refers.reverse();
                        self.referendums.current = refers.slice(0,(self.referendums.step - 1));
                        self.referendums.keyRange = 19;
                        break;
                    default:
                        self.sortReferendums('popular');
                        break;
                }
                self.filter = sort;
            },
            loadMore(){
                const self = this;
                let addition = self.referendums.sorted.slice(self.referendums.keyRange,self.referendums.keyRange + self.referendums.step);
                self.referendums.keyRange = self.referendums.keyRange + self.referendums.step;
                self.referendums.current = self.referendums.current.concat(addition);
            }
        }
    }
</script>