<template>
    <div class="votes-list" draggable="false">
        <div class="content-header flex marged-bottom-xl">
            <div class="content-header-text flex-child stretch text-center">Vote for your Gods</div>
        </div>
        <div class="swipe-card-stack-container" draggable="false" v-if="deck.length > 0">
            <ul class="swipe-card-stack stack" draggable="false">
                <card v-for="card in deck"
                      v-bind:id="card.id"
                      v-bind:type='type'
                      v-bind:user="card.user"
                      v-bind:god="card.god">
                </card>
                <li v-if="deck.length < 1" class="text-center olympus__title xsm">
                    There are no other candidates.
                </li>
            </ul>
        </div>
        <div class="flex-child stretch flex justified-c center" v-else>
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</template>
<script>
    import Card from './Card.vue';
    let preCandidates = (sessionStorage.getItem('olympusCandidates'))?JSON.parse(sessionStorage.getItem('olympusCandidates')):[];
    //console.log('Candidates',preCandidates);
    export default {
        components: {
            'card': Card,
        },

        data(){
            return {
                heap: '',
                type: 'person',
                candidates: preCandidates,
                voted: [],
                cards: [],
                deck: [],
                candidate: {
                    id: '',
                    god: '',
                    user: '',
                    election: '',
                },
                bound: false,
            }
        },

        mounted() {
            var self = this;
            //console.log('Init card swing system');
            self.initCards();
            //console.log('SELF',self.candidates);

            if(self.candidates[0] == null){
                self.fetchElections(self);
            } else {
                self.purgeCards();
                self.deck = self.candidates.slice(0,11).reverse();
                setTimeout(function(){
                    self.prepStack();
                },10);
            }

        },
        watch: {
            candidate : function(){
                this.deck = this.candidates.slice(0,11).reverse();
            }
        },
        methods: {
            shuffle(array) {
                let counter = array.length;

                // While there are elements in the array
                while (counter > 0) {
                    // Pick a random index
                    let index = Math.floor(Math.random() * counter);

                    // Decrease counter by 1
                    counter--;

                    // And swap the last element with it
                    let temp = array[counter];
                    array[counter] = array[index];
                    array[index] = temp;
                }

                return array;
            },
            fetchElections: function(self) {
                Vue.axios.get('api/elections').then(function (response) {
                    //console.log('Elections',response.data);
                    let cards = [];
                    for(let stack of response.data){
                        for(let candi of stack.candidates){
                            cards.push({
                                id: candi.id,
                                god: stack.god,
                                user: candi.user,
                                election: stack.id
                            });
                        }
                    }
                    self.candidates = self.shuffle(cards);
                    self.purgeCards();
                    sessionStorage.setItem('olympusCandidates',JSON.stringify(self.candidates));
                    self.deck = self.candidates.slice(0,11).reverse();
                    setTimeout(function(){
                        self.prepStack();
                    },10);
                });
            },
            initCards(){
                const config = {
                    minThrowOutDistance: 2000,
                    maxThrowOutDistance: 2000,
                };
                this.heap = window.swing.Stack(config);
            },
            prepStack(){
                const self = this;
                let cards = document.querySelectorAll('.stack li');

                let card = document.querySelector('.stack').lastChild;
                self.setCandidate(card.id);

                [].forEach.call(cards, function (targetElement) {
                    //console.log('SELF HEAP',self.heap);
                    self.heap.createCard(targetElement);
                    targetElement.classList.add('in-deck');
                });
                if(!self.bound){
                    self.heap.on('throwout', function (e) {
                        //console.log(e.target.innerText || e.target.textContent, 'has been thrown out of the stack to the', e.throwDirection, 'direction.');
                        //document.querySelector('.stack').appendChild(e.target);
                        let cards = document.querySelectorAll('.stack li');
                        let card = document.querySelector('.stack').lastChild;
                        let voteValue = 0;
                        const direction = e.throwDirection.toString();
                        switch(direction){
                            case 'Symbol(LEFT)':
                                voteValue = 1;
                                break;
                            case 'Symbol(RIGHT)':
                                voteValue = 0;
                                break;
                        }
                        var vote = {
                            election: self.candidate.election,
                            candidate: self.candidate.id,
                            value: voteValue,
                            user: Vue.authentication.user.user.id
                        };
                        self.vote(vote);
                    });
                    self.heap.on('throwoutend', function (e) {
                        let cards = document.querySelectorAll('.stack li');
                        let card = document.querySelector('.stack').lastChild;
                        self.heap.getCard(card).destroy();
                        card.style.transform = 'translate3d(0px, 0px, 0px) translate(0px, 0px) rotate(0deg)';
                        self.heap.createCard(card,false);
                        self.cleanUpCards();
                        self.setCandidate();
                    });
                    self.bound = true;
                }
            },
            vote(vote){
                const self = this;
                //console.log('VOTE ',vote);
                Vue.axios.post('api/votes', {
                    'user':vote.user,
                    'election': vote.election,
                    'candidate': vote.candidate,
                    'value': vote.value,
                    'referendum': null,
                }).then(function (response) {
                    //console.log('Ya voted woo',response.data);
                });
            },
            setCandidate(){
                var self = this;
                self.candidate = self.candidates[0];
            },
            purgeCards(){
                // Purge the candidates that the authenticated user has voted for
                const self = this;
                Vue.axios.get('api/uservotes/'+Vue.authentication.user.user.id).then(function (response) {
                    //console.log('Fetched all votes this user has made ever',response.data);
                    for (let vote of response.data) {
                        //console.log('Vote',vote);
                        let i = 0;
                        for(let candidate of self.candidates) {
                            //console.log('Candidate',candidate);
                            if(candidate !== null){
                                if(vote.candidate_id == candidate.id){
                                    //console.log('This one should be removed');
                                    self.candidates[i] = null;
                                }
                            }
                            i++;
                        }
                        let o = 0;
                        for(let candidate of self.candidates) {
                            if(candidate == null){
                                self.candidates.splice(o,1);
                            }
                            ++o;
                        }

                    }

                });
            },
            cleanUpCards(){
                var self = this;
                // Remove the candidate that has been voted on
                //console.log('REMOVE THE VOTED ONE',self.candidates[0]);
                self.candidates.splice(0,1);
                sessionStorage.setItem('olympusCandidates',JSON.stringify(self.candidates));
            }
        }
    }
</script>