// -----------------------------------------------------------------------------
// This file contains CSS Animations.
// -----------------------------------------------------------------------------

@include keyframes(rotatePulse) {
  0%   { @include rotate(0) }
  100% { @include rotate(360)  }
}

.wiggle{
  animation-name: wiggle;
  -webkit-animation-name: wiggle;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  visibility: visible !important;
}

@include keyframes(wiggle) {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@include keyframes(growShrink) {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@include keyframes(flyaway) {

  0% {
    @include translate(0%,0%);
  }
  49%{
    @include opacity(0);
    @include translate(150%,-150%);
  }
  50% {
    @include opacity(0);
    @include translate(150%,-150%);
  }
  51%{
    @include opacity(0);
    @include translate(-150%,150%);
  }
  100% {
    @include translate(0%,0%);
  }
}
@include keyframes(spooky){
  0% {
    color:rgba(255,255,255,0.7);
  }
  50% {
    color:rgba(255,255,255,0.3);
  }
  100%{
    color:rgba(255,255,255,0.4);
  }
}
@include keyframes(spooky-move){
  0% {
    @include translate(100%,100%);
    opacity: 0.7;
  }
  40% {
    @include translate(10%,10%);
    opacity: 0.3;
  }
  50%{
    @include translate(100%,100%);
    opacity: 0.7;
  }
  100% {
    @include translate(100%,100%);
    opacity: 0.7;
  }
}
@include  keyframes(buildup){
  0%{
    @include opacity(0);
  }
  100%{
    @include opacity(1);
  }
}

@include keyframes(rowToArrow1) {
  40% {
    background-color: white;
    height: 3px;
    @include translate(-4px, 6px);
  }
  60% {
    background-color: white;
    height: 3px;
    @include translate(-3px, 6px);
  }
  100% {
    background-color: white;
    height: 3px;
    width:14px;
    @include transform(rotate(-45deg) translate(-1px, 1px));
  }
}
@include keyframes(rowToArrow3) {
  40% {
    background-color: white;
    height: 3px;
    @include translate(-4px, -5px);
  }
  60% {
    background-color: white;
    height:3px;
    @include translate(-3px, -5px)
  }
  100% {
    background-color: white;
    height: 3px;
    width:14px;
    @include transform(rotate(45deg) translate(0px, 0px))
  }
}


@include keyframes(arrowToRow1) {
  0% {
    height:3px;
    width:14px;
    @include transform(rotate(-45deg) translateY(0px));
  }
  20% {
    height:3px;
    width:25px;
    @include translate(0, 5px)
  }
  40% {
    height:3px;
    width:25px;
    @include translate(0, 3px)
  }
  100% {
    height:8px;
    width:25px;
    @include translate(-4px, 0)
  }
}


@include keyframes(arrowToRow2){
  0% {
    height:3px;
    width:14px;
    @include translate(0, 0px);
  }
  20% {
    height:3px;
    width:25px;
    @include translate(0, 0px);
  }
  40% {
    height:3px;
    width:25px;
    @include translate(0, 0px);
  }
  100% {
    height:8px;
    width:25px;
    @include translate(-4px, 0);
  }
}

@include keyframes(arrowToRow3){
  0% {
    height:3px;
    width:14px;
    @include transform(rotate(45deg) translateY(0px));
  }
  20% {
    height:3px;
    width:25px;
    @include translate(0, -6px);
  }
  40% {
    height:3px;
    width:25px;
    @include translate(0, -2px);
  }
  100% {
    height:8px;
    width:25px;
    @include translate(-4px, 0);
  }
}
@include keyframes(animate-news-in){
  to {
    @include opacity(1);
    left:0;
  }
}
@include keyframes(animate-news-out){
  to {
    @include opacity(0);
    left:-1em;
  }
}

@include keyframes(animate-news-bg){
  0% {
    width: 0;
    background-color: rgba(255,255,255,0.2);
  }
  90% {
    width: 90%;
    background-color: rgba(255,255,255,0);
  }
  100% {
    width: 100%;
  }
}
@include keyframes(full-width){
  to{
    width: 100%;
  }
}
@include keyframes(shape-movement-1) {
  0% {
    @include transform(rotate(0deg) translateX(20px) rotate(0deg));
  }
  25% {
    @include transform(rotate(26deg) translateX(20px) rotate(-30deg));
  }
  50% {
    @include transform(rotate(-15deg) translateX(20px) rotate(15deg));
  }
  75% {
    @include transform(rotate(19deg) translateX(-20px) rotate(-15deg) translateY(20px));
  }
  100% {
    @include transform(rotate(0deg) translateX(20px) rotate(0deg));
  }
}

@include keyframes(shape-movement-2) {
  0% {
    @include transform(rotate(0deg) translateX(30px) rotate(0deg));
  }
  25% {
    @include transform(rotate(34deg) translateX(10px) rotate(-30deg) translateY(30px));
  }
  50% {
    @include transform(rotate(-30deg) translateX(30px) rotate(30deg));
  }
  75% {
    @include transform(rotate(56deg) translateX(30px) rotate(-60deg));
  }
  100% {
    @include transform(rotate(0deg) translateX(30px) rotate(0deg));
  }
}

@include keyframes(settle-in) {
  0% {
    @include opacity(0);
    top:-30px;
  }

  100%{
    @include opacity(1);
    top:0;
  }
}

@include keyframes(scaleDown) {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@include keyframes(moveFromBottom) {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@include keyframes(moveFromTop) {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}