// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  background-color: #333;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

body {

  min-height: 100vh;
  height: 100vh;
  &.nav-open {
    overflow: hidden;
  }
  @include animation(buildup 0.6s ease-in);
}
.wrapper {
  min-height: 100vh;
  background-color: white;
}
.backoffice main {
  padding-left: 300px;
  @media only screen and (max-width: 992px){
    padding-left: 0;
  }
}
main {
}

/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  &.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.justified-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  &.justified-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.centered {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  &.column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  &.align-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  &.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flex-child {
  &.stretch {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  &.end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  &.start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  &.center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  &.justified-c {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
$padded: 25;
$sides: top left bottom right;
.padded {
  padding: $padded+px;
  @each $side in $sides {
    &-#{$side}{
      padding-#{$side}:$padded+px;
      &-s {
        padding-#{$side}:#{$padded * 0.5}px;
      }
      &-m {
        padding-#{$side}:#{$padded * 0.8}px;
      }
      &-xl {
        padding-#{$side}:#{$padded * 2}px;
      }
      &-xxl {
        padding-#{$side}:#{$padded * 3}px;
      }
    }
  }
}
$marged: 25;
.marged {
  margin: $marged+px;
  @each $side in $sides {
    &-#{$side}{
      margin-#{$side}:$marged+px;
      &-s {
        margin-#{$side}:#{$marged * 0.5}px;
      }
      &-m {
        margin-#{$side}:#{$marged * 0.8}px;
      }
      &-xl {
        margin-#{$side}:#{$marged * 2}px;
      }
      &-xxl {
        margin-#{$side}:#{$marged * 3}px;
      }
    }
  }
}
.no-padding {
  padding: 0;
  @each $side in $sides {
    &-#{$side}{
      padding-#{$side}:0;
    }
  }
}
.pos {
  &-rel{
    position: relative;
  }
  &-abs{
    position: absolute;
  }
  &-fix{
    position: fixed;
  }
}
.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-inherit {
    text-transform: inherit;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}

.no-margin {
  margin: 0 !important;
  @each $side in $sides {
    &-#{$side}{
      margin-#{$side}:0;
    }
  }
}