<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column">
            <div class="authentication login">
                <form class="form-horizontal" role="form">
                    <div :class="'form-group' + errors.email ? ' has-error' : '' ">
                        <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                        <div class="col-md-6">
                            <input id="email" type="email" class="form-control" name="email" value="" required autofocus v-model="form.email">
                            <span class="help-block" v-if="errors.email">
                                <strong>{{ errors.email }}</strong>
                            </span>
                        </div>
                    </div>
                    <div :class="'form-group' + errors.password ? ' has-error' : '' ">
                        <label for="password" class="col-md-4 control-label">Password</label>
                        <div class="col-md-6">
                            <input id="password" type="password" class="form-control" name="password" required v-model="form.password">
                            <span class="help-block" v-if="errors.password">
                                <strong>{{ errors.password }}</strong>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">

                            <span class="help-block" v-if="authentication.user.errormessage">
                                <strong>{{ authentication.user.errormessage }}</strong>
                            </span>
                            <button type="submit" @click.prevent="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import authentication from '../../authentication';
    export default {
        data(){
            return {
                authentication,
                form:{
                    email:'',
                    password: '',
                },
                errors: {
                },
                loginError: ''
            }
        },
        mounted() {
            var self = this;
        },
        watch: {
        },
        methods: {
            submit(){
                //console.log(this.form);
                const self = this;
                let creds = {
                    'email':this.form.email,
                    'password':this.form.password,
                }
                if(this.validate(creds)){
                    //console.log('Vue sesh',Vue.authentication);
                    let result = Vue.authentication.login(creds);
                }
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(!self.validateEmail(creds.email)){
                    return valid = false;
                    self.errors.email = 'Invalid Email';
                } else if(creds.password.length < 6){
                    return valid = false;
                    self.errors.password = 'Invalid Password -- Too short';
                } else {
                    return valid;
                }
            },
            validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },

        }
    };
</script>
