<template>
    <div class="container padded-top flex-child stretch flex column">
        <div class="content-header flex wrap marged-bottom-s">
            <div class="content-header-back flex">
                <a class="" href="/#/" @click.prevent="back">Back</a>
            </div>
        </div>
        <div class="text-content blocks marged-bottom-xl" v-if="user && !editing">
            <div class="block block-auto block-image flex no-margin centered justified-c">
                <img draggable="false"
                     :src="'/img/users/'+user.profile.profile_picture"
                     :title="title"/>
            </div>
            <div class="block block-auto flex no-margin" v-if="user.profile">
                <div class="block-content block-user">
                    <h2 class="olympus__title sm no-margin ">{{user.profile.firstName}}<span v-if="user.profile.age" class="subtitle">, {{user.profile.age}}</span></h2>
                    <span class="subtitle" v-if="user.profile.job">{{user.profile.job}}</span>
                </div>
            </div>
            <div class="block block-auto flex no-margin" v-if="user.profile">
                <div class="block-content block-user">
                    <h3 class="olympus__title sm no-margin " v-if="user.profile.description">About me</h3>
                    <hr>
                    <p class="subtitle" v-if="user.profile.sex"><strong>Gender: </strong>{{ gender() }}</p>
                    <p class="subtitle" v-if="user.profile.country"><strong>Country: </strong>{{ user.profile.country }}</p>
                    <hr>
                    <p v-if="user.profile.description">
                        {{user.profile.description}}
                    </p>
                </div>
            </div>
            <div class="block block-auto flex column no-margin" v-if="user.achievements">
                <div class="block-content block-user">
                    <h3 class="olympus__title sm no-margin ">Past ascensions</h3>
                    <hr>
                    <div class="" v-if="user.achievements.length > 0">
                        <div class="block-tag" v-for="achievement in user.achievements">
                            <span class="block-tag-image flex centered justified-c" :title="achievement.title"><img :src="'/img/achievements/'+achievement.icon" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-child stretch flex justified-c center" v-if="user == null">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
        <div v-if="user && !editing">
            <button class="btn-large btn-round pos-fix black-text" v-if="user.id == userid" @click.prevent="editProfile" style="bottom:20px;right:5px;"><i class="material-icons">mode_edit</i></button>
        </div>
        <div class="form-container" v-if="user && editing">
            <form class="form-horizontal" role="form" v-if="editing && (user.id == userid) ">
                <div :class="'form-group' + errors.firstName ? ' has-error' : '' ">
                    <label for="firstName" class="col-md-4 control-label">First Name</label>
                    <div class="col-md-6">
                        <input id="firstName" type="text" class="form-control" name="firstName" value="" required autofocus v-model="form.firstName">
                        <span class="help-block" v-if="errors.firstName">
                            <strong>{{ errors.firstName }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.lastName ? ' has-error' : '' ">
                    <label for="lastName" class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-6">
                        <input id="lastName" type="text" class="form-control" name="lastName" value="" autofocus v-model="form.lastName">
                        <span class="help-block" v-if="errors.lastName">
                            <strong>{{ errors.lastName }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.sex ? ' has-error' : '' ">
                    <div class="col-md-6">
                        <label for="sex" class="col-md-4 control-label">Gender</label>
                        <div>
                            <multiselect name="sex" v-if="genders.length > 0" v-model="form.gender"
                                         :options="genders"
                                         :close-on-select="true"
                                         :clear-on-select="false"
                                         :hide-selected="true"
                                         placeholder="Pick your gender"
                                         label="name"
                                         track-by="id">

                            </multiselect>
                        </div>
                        <span class="help-block" v-if="errors.sex">
                            <strong>{{ errors.sex }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.country ? ' has-error' : '' ">
                    <label for="country" class="col-md-4 control-label">Country</label>
                    <div class="col-md-6">
                        <input id="country" type="text" class="form-control" name="country" value="" autofocus v-model="form.country">
                        <span class="help-block" v-if="errors.country">
                            <strong>{{ errors.country }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.job ? ' has-error' : '' ">
                    <label for="job" class="col-md-4 control-label">Job</label>
                    <div class="col-md-6">
                        <input id="job" type="text" class="form-control" name="job" value="" autofocus v-model="form.job">
                        <span class="help-block" v-if="errors.job">
                            <strong>{{ errors.job }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.dateOfBirth ? ' has-error' : '' ">
                    <label for="dateOfBirth" class="col-md-4 control-label">Date of Birth</label>
                    <div class="col-md-6">
                        <input id="dateOfBirth" type="text" class="form-control" name="dateOfBirth" value="" autofocus v-model="form.dateOfBirth">
                        <span class="help-block" v-if="errors.dateOfBirth">
                            <strong>{{ errors.dateOfBirth }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.description ? ' has-error' : '' ">
                    <label for="description" class="col-md-4 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea id="description" class="form-control materialize-textarea" name="description" value="" autofocus v-model="form.description"></textarea>
                        <span class="help-block" v-if="errors.description">
                            <strong>{{ errors.description }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" @click.prevent="edit" class="btn btn-primary">
                            Edit
                        </button>
                        <button class="btn btn-secondary" @click.prevent="editProfile">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    export default {
        components: {
            Multiselect
        },
        props:['id'],
        data(){
            return {
                userid: Vue.authentication.user.user.id,
                user: null,
                editing:false,
                form:{
                    firstName:'',
                    lastName: '',
                    sex: '',
                    dateOfBirth: '',
                    phone: '',
                    country: '',
                    job: '',
                    description: '',
                },
                genders:[
                    {
                        id:0,
                        name:'Unknown'
                    },{
                        id:1,
                        name:'Male'
                    },{
                        id:2,
                        name:'Female'
                    },{
                        id:9,
                        name:'Not Applicable'
                    },
                ],
                errors: {
                },
            }
        },
        mounted() {
            const self = this;
            if(self.id){
                self.fetchUser(self.id)
            } else {
                self.fetchUser(Vue.authentication.user.user.id);
            }
        },
        methods: {
            back(){
                window.router.go(-1);
            },
            fetchUser(id){
                const self = this;
                Vue.axios.get('api/users/'+id).then(function (response) {
                    let voted = false;
                    let user = response.data;
                    //console.log(user);
                    self.user = user;
                    self.user.profile.age = self.age(user);
                    self.user.profile.gender = self.gender();
                    self.form.firstName = self.user.profile.firstName;
                    self.form.lastName = self.user.profile.lastName;
                    self.form.sex = self.user.profile.sex;
                    self.form.gender = {
                        id:self.form.sex,
                        name:self.user.profile.gender
                    };
                    self.form.dateOfBirth = self.user.profile.dateOfBirth;
                    self.form.phone = self.user.profile.phone;
                    self.form.country = self.user.profile.country;
                    self.form.job = self.user.profile.job;
                    self.form.description = self.user.profile.description;
                    console.log(self.user.profile);
                });
            },
            editProfile(){
                const self = this;
                this.editing  = (self.editing)?false:true;
            },
            edit(){
                const self = this;
                let creds = {
                    user: self.userid,
                    firstName:self.form.firstName,
                    lastName: self.form.lastName,
                    sex: self.form.gender.id,
                    dateOfBirth: self.form.dateOfBirth,
                    phone: self.form.phone,
                    country: self.form.country,
                    job: self.form.job,
                    description: self.form.description,
                }
                //console.log('Prevalidation',creds);
                if(this.validate(creds)){
                    console.log('Post new request',creds);

                    Vue.axios.patch('api/users/'+self.user.id, {
                        firstName:self.form.firstName,
                        lastName: self.form.lastName,
                        sex: self.form.gender.id,
                        dateOfBirth: self.form.dateOfBirth,
                        phone: self.form.phone,
                        country: self.form.country,
                        job: self.form.job,
                        description: self.form.description,
                    }).then(function (response) {
                        console.log('Updated user',response.data);

                        self.user.profile.dateOfBirth = self.form.dateOfBirth;
                        self.user.profile.age = self.age(self.user);
                        self.user.profile.sex = self.form.gender.id;
                        self.user.profile.gender = self.gender();
                        self.user.profile.firstName = self.form.firstName;
                        self.user.profile.lastName = self.form.lastName;
                        self.user.profile.phone = self.form.dateOfBirth;
                        self.user.profile.country = self.form.country;
                        self.user.profile.job = self.form.job;
                        self.user.profile.description = self.form.description;
                        self.editProfile();
                    });
                }
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(creds.user !== self.user.id){
                    valid = false;
                    self.errors.description += '/n User does not match user from request.';
                }
                if(!self.validateDate(creds.dateOfBirth)){
                    valid = false;
                    self.errors.password = 'Invalid date';
                }
                return valid;
            },
            validateDate(date) {
                var regEx = /^\d{4}-\d{2}-\d{2}$/;
                return date.match(regEx) != null;
            },
            gender(){
                if(this.user){
                    switch(this.user.profile.sex){
                        case 0: return 'Unknown'; break;
                        case 1: return 'Male'; break;
                        case 2: return 'Female'; break;
                        case 9: return 'Not Applicable'; break;
                    }
                }
            },
            age: function(user) {
                if (user.profile.dateOfBirth !== null) {
                    let dob = user.profile.dateOfBirth;
                    let today = new Date();
                    let birthDate = new Date(dob);
                    let age = today.getFullYear() - birthDate.getFullYear();
                    let m = today.getMonth() - birthDate.getMonth();
                    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                        return age--;
                    } else {
                        return age;
                    }
                } else {
                    return null;
                }
            },
        },
        computed:{
            title(){
                if(this.user){
                    return this.user.profile.firstName+' '+((this.user.profile.lastName)?this.user.profile.lastName:'');
                } else {
                    return null;
                }
            },
        }
    };
</script>
