<template>
    <div class="container padded-top flex-child stretch flex column">
        <div class="content-header flex wrap marged-bottom-xl">
            <div class="content-header-title flex-child stretch text-center">Register</div>
        </div>
        <div class="form-container">
            <form class="form-horizontal marged-bottom-xl" role="form">

                <div :class="'form-group' + errors.name ? ' has-error' : '' ">
                    <label for="name" class="col-md-4 control-label">Username</label>
                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus v-model="form.name">
                        <span class="help-block" v-if="errors.name">
                                        <strong>{{ errors.name }}</strong>
                                    </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.email ? ' has-error' : '' ">
                    <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus v-model="form.email">
                        <span class="help-block" v-if="errors.email">
                                        <strong>{{ errors.email }}</strong>
                                    </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.password ? ' has-error' : '' ">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" value="" required autofocus v-model="form.password">
                        <span class="help-block" v-if="errors.password">
                            <strong>{{ errors.password }}</strong>
                        </span>
                    </div>
                </div>
                <hr>
                <div :class="'form-group' + errors.firstName ? ' has-error' : '' ">
                    <label for="firstName" class="col-md-4 control-label">First Name</label>
                    <div class="col-md-6">
                        <input id="firstName" type="text" class="form-control" name="firstName" value="" required autofocus v-model="form.firstName">
                        <span class="help-block" v-if="errors.firstName">
                            <strong>{{ errors.firstName }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.lastName ? ' has-error' : '' ">
                    <label for="lastName" class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-6">
                        <input id="lastName" type="text" class="form-control" name="lastName" value="" autofocus v-model="form.lastName">
                        <span class="help-block" v-if="errors.lastName">
                            <strong>{{ errors.lastName }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.sex ? ' has-error' : '' ">
                    <div class="col-md-6">
                        <label for="sex" class="col-md-4 control-label">Gender</label>
                        <div>
                            <multiselect name="tags" v-if="genders.length > 0" v-model="form.gender"
                                         :options="genders"
                                         :close-on-select="true"
                                         :clear-on-select="false"
                                         :hide-selected="true"
                                         placeholder="Pick your gender"
                                         label="name"
                                         track-by="id">

                            </multiselect>
                        </div>
                        <span class="help-block" v-if="errors.sex">
                                    <strong>{{ errors.sex }}</strong>
                                </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.country ? ' has-error' : '' ">
                    <label for="country" class="col-md-4 control-label">Country</label>
                    <div class="col-md-6">
                        <input id="country" type="text" class="form-control" name="country" value="" autofocus v-model="form.country">
                        <span class="help-block" v-if="errors.country">
                            <strong>{{ errors.country }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.job ? ' has-error' : '' ">
                    <label for="job" class="col-md-4 control-label">Job</label>
                    <div class="col-md-6">
                        <input id="job" type="text" class="form-control" name="job" value="" autofocus v-model="form.job">
                        <span class="help-block" v-if="errors.job">
                            <strong>{{ errors.job }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.dateOfBirth ? ' has-error' : '' ">
                    <label for="dateOfBirth" class="col-md-4 control-label">Date of Birth</label>
                    <div class="col-md-6">
                        <input id="dateOfBirth" type="date" class="form-control" name="dateOfBirth" value="" autofocus v-model="form.dateOfBirth">
                        <span class="help-block" v-if="errors.dateOfBirth">
                            <strong>{{ errors.dateOfBirth }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.description ? ' has-error' : '' ">
                    <label for="description" class="col-md-4 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea id="description" class="form-control materialize-textarea" name="description" value="" autofocus v-model="form.description"></textarea>
                        <span class="help-block" v-if="errors.description">
                            <strong>{{ errors.description }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <span class="help-block" v-if="authentication.user.errormessage">
                            <strong>{{ authentication.user.errormessage }}</strong>
                        </span>
                        <button type="submit" @click.prevent="submit" class="btn btn-primary">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import authentication from '../../authentication';
    import Multiselect from 'vue-multiselect';

    export default {
        components: {
            Multiselect
        },
        data(){
            return {
                authentication,
                form:{
                    firstName:'',
                    lastName: null,
                    sex: '',
                    dateOfBirth: null,
                    phone: null,
                    country: null,
                    job: null,
                    description: null,
                },
                genders:[
                    {
                        id:0,
                        name:'Unknown'
                    },{
                        id:1,
                        name:'Male'
                    },{
                        id:2,
                        name:'Female'
                    },{
                        id:9,
                        name:'Not Applicable'
                    },
                ],
                errors: {
                },
                loginError: ''
            }
        },
        mounted() {
            var self = this;
        },
        watch: {
        },
        methods: {
            submit(){
                const self = this;
                let creds = {
                    name:self.form.name,
                    email:self.form.email,
                    password:self.form.password,
                    firstName:self.form.firstName,
                    lastName: self.form.lastName,
                    sex: self.form.gender.id,
                    dateOfBirth: self.form.dateOfBirth,
                    phone: self.form.phone,
                    country: self.form.country,
                    job: self.form.job,
                    description: self.form.description,
                }
                //console.log('Prevalidation',creds);
                if(this.validate(creds)){
                    Vue.authentication.register(creds);
                }
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(creds.user !== self.user.id){
                    valid = false;
                    self.errors.description += '/n User does not match user from request.';
                }
                return valid;
            },
            gender(){
                if(this.user){
                    switch(this.user.profile.sex){
                        case 0: return 'Unknown'; break;
                        case 1: return 'Male'; break;
                        case 2: return 'Female'; break;
                        case 9: return 'Not Applicable'; break;
                    }
                }
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(!self.validateEmail(creds.email)){
                    valid = false;
                    self.errors.email = 'Invalid Email';
                }
                if(creds.password.length < 6){
                    valid = false;
                    self.errors.password = 'Invalid Password -- Too short';
                }
                if(!self.validateDate(creds.dateOfBirth)){
                    valid = false;
                    self.errors.password = 'Invalid date -- format is yyyy-mm-dd';
                }
                return valid;
            },
            validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            validateDate(date) {
                var regEx = /^\d{4}-\d{2}-\d{2}$/;
                return date.match(regEx) != null;
            }

        }
    };
</script>
