.header-content,
.header-content *{
  height: 80px;
  line-height: 80px;
}
.application {
  .header-content {
    padding: 20px;
    .nav-wrapper {
      > a {
        object {
          margin-left: -24px;
        }
        &.button-collapse {
          color: #666666;

          @include on-event{
            color: #333333;
          }
        }
      }
    }
  }
  .header-content *{
    height: 40px;
    line-height: 40px;
  }
  .back-bar {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    height:40px;
    line-height: 40px;
    .back-button {
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
}