// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Primary Brand color
/// @type Color
$primary-color: rgb(251,174,23);
$primary-color-light: rgb(254,239,209);
$primary-color-dark: rgb(237,171,24);

/// Secondary Brand color
/// @type Color
$secondary-color: rgb(51, 51, 51);


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$default-font-size: 16;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$xxsm  : 0/$default-font-size * 1rem;
$xsm   : 320/$default-font-size * 1rem;
$sm    : 480/$default-font-size * 1rem;
$md    : 680/$default-font-size * 1rem;
$lg    : 960/$default-font-size * 1rem;
$xl   : 1140/$default-font-size * 1rem;
$xxl  : 1440/$default-font-size * 1rem;


/// Grid Prefixes map
/// @prop {String} keys - Keys are identifiers mapped to certain grid component
/// @prop {Map} values - Values are the class identifiers in implementation



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/resources/assets/' !default;
$node-url: '../../../../../node_modules/' !default;