.blocks {
  .block {
    height: 60px;
    border: 2px solid #E6E6E6;
    -webkit-box-shadow:2px 2px 0px #333333;
    box-shadow:2px 2px 2px #666666;
    margin: 10px 0;
    @include transition(all 350ms ease-in-out);
    .block-button {
      background: #e6e6e6;
      min-width:56px;
      cursor:pointer;
      text-align: center;
      @include transition(all 350ms ease-in-out);
      i {
        font-size: 20px;
        line-height: 56px;
        text-align: center;
      }
      &:hover {
        background:$primary-color;
      }
    }
    .block-children {
      padding: 10px;
    }
    .block-tags {
      padding: 10px;
    }
    .block-tag {
      position: relative;
      display: inline-block;
      padding: 4px 10px 4px 10px;
      border-radius: 5px;
      margin-right: 10px;
      color: $text-color;
      line-height: 1;
      background: $primary-color;
      white-space: nowrap;
      cursor:pointer;
      @include transition(all 350ms ease-in-out);
      @include on-event{
        background:$primary-color-dark;
      }
      &.secondary {
        color:#fff;
        background: $secondary-color;
        @include on-event{
          background:#000000;
        }
      }
      .block-tag-image {
        height: 30px;
        width: 30px;
        img {
          width: 100%;
        }
      }
    }
    &.block-image,
    .block-image {
      background: $primary-color;
      img {
        width: 100%;
      }
      .icon {
        width: 200px;
        height: 200px;
      }
    }
    .block-content {
      padding: 10px 30px;
      height: 100%;
      width: 100%;
      width: calc(100% - 56px);
      .block-title {
        font-size: 18px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $text-color;
        margin: 0;
        &.unlimited {
          white-space: normal;
          overflow: inherit;
        }
      }
      .block-actions {
        .block-action {
          color: $text-color;
          font-weight: 300;
          margin: 0 10px 0 0;
          cursor:pointer;
          @include transition(all 350ms ease-in-out);
          @include on-event{
            @include translate(3px,0);
          }
          p {
            margin: 0;
          }
        }
      }
    }
    &.block-auto {
      height: auto;
      &.request-description {
        border-top: none;
      }
      .block-content {
        width:100%;
      }
    }
    &.voted {
      border: 2px solid $primary-color;
      background: $primary-color-light;
      .block-button {
        background:$primary-color;
      }
    }
  }
  .load-more {
    text-align: center;
    background: #e6e6e6;
    border:2px solid #969696;
    cursor: pointer;
    @include transition(all 350ms ease-in-out);
    @include on-event{
      background: $primary-color-light;
      border: 2px solid $primary-color;
    }
  }
  .block-user{
    h2 {
      font-weight: 700;
    }
    .subtitle {
      font-size: 0.6em;
      strong {
        font-size: 1.1em;
        font-weight: 500;
      }
    }
  }
}
.replier {
  padding: 10px;
}