// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  text-transform: none;
  color: $text-color;
  font-weight: 700;
  letter-spacing: .5px;
  @include transition(all 200ms ease-out);
  cursor: pointer;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
  &-large {
    height:100px;
    line-height: 100px;
  }
  &-secondary {
    color:#fff;
    background: $secondary-color;
    @include on-event{
      background-color: black;
    }
  }
  &-round {
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
  @include on-event{
    background-color: $primary-color-dark;
  }
}
.btn-delete{
  &.deleted {
    color:#f9f9f9;
  }
}
.splitter {
  height: 100%;
  width: 3px;
}
.buttons {
  padding: 40px 0 0;
  box-sizing: content-box;
  position: relative;
}
.info-orb {
  cursor: pointer;
  width:30px;
  height:30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color:$text-color;
  position: absolute;
  left: calc(50% - 17px);
  top: calc(50% + 10px);
  border-radius: 50%;
  background: white;
  -webkit-user-select: initial !important;
  -khtml-user-select: initial !important;
  -moz-user-select: initial !important;
  -o-user-select: initial !important;
  user-select: initial !important;
  -webkit-pointer-events: auto !important;
  pointer-events: auto !important;
  touch-action: initial;
  &.top {
    top:5%;
  }
  &.right {
    left:inherit;
    right:5%;
  }
  &.bottom {
    top:inherit;
    bottom:5%;
  }
  &.left {
    left:5%;
  }
  &.big {
    width:50px;
    height:50px;
    line-height: 50px;
    font-size: 33px;
  }
}

// Grid button
.overview-toggle {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 100px;
  right: 25px;
  @include scale(0.7);
  @include backface-visibility(hidden);
  @include transform-style (flat);
  @include transition(background 250ms ease-in, opacity 250ms ease-in, padding 300ms ease-in-out);
  padding: 17px 17px 17px 22px;
  cursor: pointer;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  outline: none;
  overflow: hidden;
  border: none;
  display: none;
  .cube-row {
    height: 8px;
    width: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    @include translate(-4px, 0);

    .cube {
      height: 4px;
      width: 4px;
      margin: 2px;
      overflow: hidden;
      background-color: #FFF;
      padding: 0;
      @include transition( background-color 250ms ease-in-out 300ms, height 100ms ease-in-out 400ms, width 100ms ease-in-out  400ms,margin 100ms ease-in-out 400ms);
    }
  }
  &.visible {
    display: block;
  }
  &.hover {
    @include transition(background 250ms ease-in, opacity 250ms ease-in, padding 300ms ease-in-out 200ms);
    .cube-row:nth-child(1) {
      @include animation(rowToArrow1 0.5s ease-in-out);
      @include fill-mode(forwards);
    }
    .cube-row:nth-child(2) {
      @include animation(rowToArrow2 0.5s ease-in-out);
      animation: rowToArrow2 0.5s ease-in-out;
      @include fill-mode(forwards);
    }
    .cube-row:nth-child(3) {
      @include animation(rowToArrow3 0.5s ease-in-out);
      @include fill-mode(forwards);
    }
    .cube{
      height: 3px;
      width: 6px;
      margin: 0px;
      @include transition(background-color 250ms ease-in-out, height 100ms ease-in-out, width 100ms ease-in-out, margin 100ms ease-in-out);
      background-color: rgba(255, 255, 255, 0) !important;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }

}

.overview-toggle.offhover .cube-row:nth-child(1) {
  @include animation(arrowToRow1 0.5s ease-in-out);
  @include fill-mode(forwards)
}

.overview-toggle.offhover .cube-row:nth-child(2) {
  @include animation(arrowToRow2 0.5s ease-in-out);
  @include fill-mode(forwards)
}

.overview-toggle.offhover .cube-row:nth-child(3) {
  @include animation(arrowToRow3 0.5s ease-in-out);
  @include fill-mode(forwards)
}


.overview-toggle.offhover .cube-row .cube {
  @include transition(background-color 250ms ease-in-out, height 100ms ease-in-out 400ms, width 100ms ease-in-out 400ms, margin 100ms ease-in-out 400ms, -webkit-box-shadow 100ms ease-in-out 400ms);
}
