.callout {
  padding: 20px 50px;
  border: 1px solid;
  border-radius: 5px;
  margin: 30px 0;
  &.alert {
    &-warning {
      background-color: color('grey', 'lighten-2');
      border-color: color('grey', 'base');
      color: color('grey', 'base');
    }
    &-error {
      background-color: lighten($error-color, 15%);
      border-color: $error-color;
      color: $error-color;
    }
    &-success {
      background-color: lighten($success-color, 15%);
      border-color: $success-color;
      color: $success-color;
    }
  }
}