.swipe-card-stack {
  &-container {
    padding: 0 40px;
  }
  width: 100%;
  max-width: 400px;
  margin: 0 auto 72px;
  position: relative;
  .swipe-card {
    width: 100%;
    position: absolute;
    background: $primary-color;
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.5);
    overflow: hidden;
    > * {
      -webkit-pointer-events:none;
      pointer-events: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

    }
    &.person {
      .content-image {
        img {
          width: 100%;
        }
      }
      .content-bar {
        position: absolute;
        background: $primary-color;
        padding: 0 30px;
        width: 100%;
        bottom:0;
        left:0;
        height: 20%;
        .content-bar-text {
          width:100%;
          overflow: hidden;
          h2 {
            margin: 0;
            font-weight: 700;
            span {
              font-weight: 500;
              font-size: 0.8em;
            }
          }
          .content-bar-text-subtitle {
            font-size: 0.6em;
          }
        }
        .content-bar-icon {

          -webkit-pointer-events: auto;
          pointer-events: auto;
          img {
            width: 60px;
          }
        }
      }
    }
    &:nth-child(1){
      position: relative;
    }
    $elements: 13;
    @for $i from 0 to $elements {
      &:nth-child(#{$i}) {
        top: #{2px * ($elements - $i)};
        z-index: #{$i};
      }
    }
    &.background {
      -webkit-pointer-events:none;
      pointer-events: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      background-color:  color("grey", "darken-1");
      img {
        opacity:0;
      }
    }
  }
}