.content-header {
  height: 60px;
  .content-header-text {
    width: 100%;
    height: 60px;
    line-height: 54px;
    border: 3px solid $primary-color;
    background: $primary-color-light;
  }
  .content-header-title {
    width: 100%;
    height:30px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
  }
  .content-header-back {
    border-top: 2px solid #E6E6E6;
    border-bottom: 2px solid #E6E6E6;
    width: 100%;
    a {
      width: 33.33%;
      border-right: 2px solid #E6E6E6;
      height:100%;
      text-align: center;
      line-height: 56px;
      font-size: 18px;
      font-weight: 700;
      color: $text-color;
    }
  }
  .content-header-actions {
    width: 100%;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #E6E6E6;
    li {
      cursor:pointer;
      &.active {
        font-weight: 700;
      }
      &:nth-child(2) {
        border-left: 2px solid #E6E6E6;
        border-right: 2px solid #E6E6E6;
      }
    }
  }
  button {
    position: relative;
    height: 0px;
    width: 0px;
    background: transparent;
    border-color: transparent;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
    &.disabled,
    &:disabled {
      border-color: transparent;
      &.content-header-arrow-left{
        border-right: 60px solid color("grey", "lighten-1");
        .content-header-arrow-inner {
          border-right: 54px solid color("grey", "lighten-2");
        }
      }
      &.content-header-arrow-right{
        border-left: 60px solid color("grey", "lighten-1");
        .content-header-arrow-inner {
          border-left: 54px solid color("grey", "lighten-2");
        }
      }
    }
    &.content-header-arrow-left {
      margin-right: 10px;
      border-right: 60px solid $primary-color;
      .content-header-arrow-inner {
        left: 15px;
        border-right: 54px solid $primary-color-light;
      }
    }
    &.content-header-arrow-right {
      margin-left: 10px;
      border-left: 60px solid $primary-color;
      .content-header-arrow-inner {
        right: 15px;
        border-left: 54px solid $primary-color-light;
      }
    }
    .content-header-arrow-inner {
      position: absolute;
      top: -24px;
      height: 0px;
      width: 0px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  }
}