.dashboard {
  &-block {
    color: $text-color;
    background: $primary-color;
    padding: 2em;
    margin: 1em;
    &-content {
      font-size: 36px;
      * {
        font-size: 2.5rem;
        line-height: 110%;
      }
    }
  }
}