form {
  fieldset[disabled] .multiselect {
    pointer-events: none;
  }
  .multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e;
    margin: 0 0 20px 0;
    * {
      box-sizing: border-box;
    }
    &:focus {
      outline: none;
    }

    &__spinner {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 48px;
      height: 35px;
      background: #fff;
      display: block;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border-color: $primary-color transparent transparent;
        border-style: solid;
        border-width: 2px;
        box-shadow: 0 0 0 1px transparent;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border-color: $primary-color transparent transparent;
        border-style: solid;
        border-width: 2px;
        box-shadow: 0 0 0 1px transparent;
        -webkit-animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
        animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      &:after {
        -webkit-animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
        animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    }

    &__loading-enter-active, &__loading-leave-active {
      transition: opacity .4s ease-in-out;
      opacity: 1;
    }

    &__loading-enter, &__loading-leave-active {
      opacity: 0;
    }

    &__input, &__single {
      font-family: inherit;
      font-size: 14px;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    &--active {
      z-index: 1;
      .multiselect {
        &__current, &__input, &__tags {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &__select {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    &--above.multiselect--active {
      .multiselect__current, .multiselect__input, .multiselect__tags {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &__input, &__single {
      position: relative;
      display: inline-block;
      min-height: 20px;
      line-height: 20px;
      padding: 1px 0 0 5px;
      width: 100%;
      transition: border .1s ease;
      box-sizing: border-box;
      margin-bottom: 8px;
    }

    &__tag ~ {
      .multiselect__input, .multiselect__single {
        width: auto;
      }
    }

    &__input:hover, &__single:hover {
      border-color: #cfcfcf;
    }

    &__input:focus {
      border-color: #a8a8a8;
      outline: none;
    }

    &__single {
      &:focus {
        border-color: #a8a8a8;
        outline: none;
      }
      padding-left: 6px;
      margin-bottom: 8px;
    }

    &__tags {
    }

    &__tag {
      position: relative;
      display: inline-block;
      padding: 4px 26px 4px 10px;
      border-radius: 5px;
      margin-right: 10px;
      color: $text-color;
      line-height: 1;
      background: $primary-color;
      margin-bottom: 8px;
      white-space: nowrap;
    }

    &__tag-icon {
      cursor: pointer;
      margin-left: 7px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-weight: 700;
      font-style: normal;
      width: 22px;
      text-align: center;
      line-height: 22px;
      transition: all .2s ease;
      border-radius: 5px;
      &:after {
        content: "\D7";
        color: #266d4d;
        font-size: 14px;
      }
      &:focus, &:hover {
        background: $primary-color-dark;
      }
      &:focus:after, &:hover:after {
        color: #fff;
      }
    }

    &__current {
      min-height: 40px;
      overflow: hidden;
      padding: 8px 12px 0;
      padding-right: 30px;
      white-space: nowrap;
      border-radius: 5px;
      border: 1px solid #e8e8e8;
      line-height: 16px;
      box-sizing: border-box;
      display: block;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
    }

    &__select {
      line-height: 16px;
      box-sizing: border-box;
      display: block;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
      position: absolute;
      width: 40px;
      height: 38px;
      right: 1px;
      top: 1px;
      padding: 4px 8px;
      text-align: center;
      transition: -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
      &:before {
        position: relative;
        right: 0;
        top: 65%;
        color: #999;
        margin-top: 4px;
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: #999 transparent transparent;
        content: "";
      }
    }

    &__placeholder {
      color: #adadad;
      display: inline-block;
      margin-bottom: 10px;
      padding-top: 2px;
    }

    &--active .multiselect__placeholder {
      display: none;
    }

    &__content {
      position: absolute;
      list-style: none;
      display: block;
      background: #fff;
      width: 100%;
      max-height: 240px;
      overflow: auto;
      padding: 0;
      margin: 0;
      border: 1px solid #e8e8e8;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 1;
    }

    &--above .multiselect__content {
      bottom: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
      border-top: 1px solid #e8e8e8;
    }

    &__content::webkit-scrollbar {
      display: none;
    }

    &__element {
      display: block;
    }

    &__option {
      display: block;
      padding: 12px;
      min-height: 40px;
      line-height: 16px;
      text-decoration: none;
      text-transform: none;
      vertical-align: middle;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &:after {
        top: 0;
        right: 0;
        position: absolute;
        line-height: 40px;
        padding-right: 12px;
        padding-left: 20px;
      }
    }

    &__option--highlight {
      background: $primary-color;
      outline: none;
      color: #fff;
      &:after {
        content: attr(data-select);
        background: $primary-color;
        color: #fff;
      }
    }

    &__option--selected {
      background: #f3f3f3;
      color: #35495e;
      font-weight: 700;
      &:after {
        content: attr(data-selected);
        color: silver;
      }
      &.multiselect__option--highlight {
        background: #ff6a6a;
        color: #fff;
        &:after {
          background: #ff6a6a;
          content: attr(data-deselect);
          color: #fff;
        }
      }
    }

    &--disabled {
      background: #ededed;
      pointer-events: none;
      .multiselect__current, .multiselect__select {
        background: #ededed;
        color: #a6a6a6;
      }
    }

    &__option--disabled {
      background: #ededed;
      color: #a6a6a6;
      cursor: text;
      pointer-events: none;
      &.multiselect__option--highlight {
        background: #dedede !important;
      }
    }

    .multiselect-enter-active, .multiselect-leave-active {
      transition: all 0.15s ease;
    }

    .multiselect-enter, .multiselect-leave-active {
      opacity: 0;
    }

    @-webkit-keyframes a {
      0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }

      to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn);
      }
    }

    @keyframes a {
      0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }

      to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn);
      }
    }
  }
  .help-block {
    background: #ff8a80;
    color: $text-color;
    border:1px solid #b71c1c;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 20px;
    display: block;
  }
}