.navigation {
  height: calc(100% - 80px);
  top:80px;

  @include transition(all 0.4s ease-in);
  &.active {
    @include translate(0%,0%);
  }
}

.side-nav {
  background-color: #f9f9f9;
  .logo {
    a {
      height: auto;
      display: block;
      margin: 1.5em 0;
      padding: 0 100px;
    }
  }
  hr {
    @include opacity(0.5);
  }
  section {

  }
}