<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column " :style="styles">
            <gods-stack></gods-stack>
        </div>
        <div class="buttons flex" :style="styles">
            <button class="btn btn-large flex-child stretch vote-btn vote-yay" @click="vote">
                <span v-if="!voted">Register for this election.</span>
                <span v-else>You have already registered.</span>
            </button>
        </div>
    </div>
</template>

<script>
    import Gods from '../components/Gods-stack.vue';
    export default {
        components: {
            'gods-stack': Gods,
        },
        data(){
          return {
              voted:false,
              candidates: Vue.authentication.user.user.candidates,
              elections: [],
              styles: ''
          }
        },
        mounted(){

            this.fetchElections();
        },
        methods: {
            vote(){
                const self = this;
                if(!self.voted){
                    const god = document.querySelector('.stack').lastChild.getAttribute("god");
                    for(let i = 0, l = self.elections.length; i < l; i++){
                        //console.log('election',self.elections[i])
                        if(self.elections[i].god_id == god){
                            //console.log('This election matches this god',self.elections[i]);

                            Vue.axios.post('api/candidates', {
                                'user':Vue.authentication.user.user.id,
                                'election': self.elections[i].id,
                            }).then(function (response) {
                                self.voted = true;
                                Vue.authentication.user.user.candidates.push(response.data);
                                sessionStorage.setItem('olympusUser',JSON.stringify(Vue.authentication.user));
                            });

                        }
                    }
                }
            },
            updateStyles(){
                const self = this;
                if(self.voted){
                    self.styles = 'opacity:0.5;pointer-events:none;'
                } else {
                    self.styles = '';
                }
            },
            fetchElections: function() {
                const self = this;
                Vue.axios.get('api/electionsofmonth').then(function (response) {
                    //console.log('Elections',response.data);
                    self.elections = response.data;
                    for(let i = 0, l = self.elections.length; i < l; i++){
                        for(let o = 0, li = self.candidates.length; o < li; o++){
                            if(self.candidates[o].election_id == self.elections[i].id){
                                console.log('Candidate',self.candidates[o]);
                                self.voted = true;
                                self.updateStyles();
                            }
                        }
                    }
                });
            }
        },

    }
</script>
