<template>
    <div class="container padded-top flex-child stretch flex column">
        <div class="content-header flex wrap marged-bottom-s">
            <div class="content-header-back flex">
                <a class="" href="/#/" @click.prevent="back">Back</a>
            </div>
        </div>
        <div class="text-content blocks marged-bottom-lg" v-if="god">
            <div class="block block-auto block-image flex no-margin centered justified-c">
                <img class="icon" draggable="false" :src="'/img/gods/'+god.icon" :title="god.title"/>
            </div>
            <div class="block block-auto flex no-margin" v-if="god.body">
                <div class="block-content">
                    <h2>{{ god.title }}</h2>
                    <p>{{ god.body }}</p>
                </div>
            </div>
            <div class="block block-auto flex no-margin" v-if="god.categories">
                <div class="block-tags" v-if="god.categories.length > 0">
                    <div class="block-tag" v-for="tag in god.categories">
                        {{ tag.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['id'],
        data(){
            return {
                god: null
            }
        },
        methods: {
            back(){
                window.router.go(-1);
            },
            fetchGod(){
                const self = this;
                const user = Vue.authentication.user.user.id;
                Vue.axios.get('api/gods/'+self.id).then(function (response) {
                    let voted = false;
                    let god = response.data;
                    console.log(god);
                    self.god = god;
                });
            },
        },
        mounted(){
            const self = this;
            self.fetchGod();
        }
    }
</script>