<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column">
            <gods-list></gods-list>
        </div>
    </div>
</template>

<script>
    import Gods from '../components/Gods-list.vue';
    export default {
        components: {
            'gods-list': Gods,
        },
        data(){
            return {

            }
        },
        mounted() {
            var self = this;
            console.log(self);
        },
        methods: {
        }
    };
</script>
