<template>
    <div class="container padded-top flex-child stretch flex column">
        <div class="content-header flex wrap marged-bottom-xl">
            <div class="content-header-title flex-child stretch text-center">New Referendum</div>
        </div>
        <div class="form-container">
            <form class="form-horizontal" role="form">
                <div :class="'form-group' + errors.title ? ' has-error' : '' ">
                    <label for="title" class="col-md-4 control-label">Title</label>
                    <div class="col-md-6">
                        <input id="title" type="text" class="form-control" name="title" value="" required autofocus v-model="form.title">
                        <span class="help-block" v-if="errors.title">
                            <strong>{{ errors.title }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.body ? ' has-error' : '' ">
                    <label for="body" class="col-md-4 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea id="body" class="form-control materialize-textarea" name="body" value="" required autofocus v-model="form.body"></textarea>
                        <span class="help-block" v-if="errors.body">
                            <strong>{{ errors.body }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.tags ? ' has-error' : '' ">
                    <div class="col-md-6">
                        <label for="tags" class="col-md-4 control-label">Tags</label>
                        <div>
                            <multiselect name="tags" v-if="tags.length > 0" v-model="form.tags"
                                         :options="tags"
                                         :multiple="true"
                                         :close-on-select="false"
                                         :clear-on-select="false"
                                         :hide-selected="true"
                                         placeholder="Pick tags"
                                         label="name"
                                         track-by="id">

                            </multiselect>
                        </div>
                        <span class="help-block" v-if="errors.tags">
                            <strong>{{ errors.tags }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" @click.prevent="submit" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    export default {
        components: { Multiselect },
        data(){
            return {
                form:{
                    title:'',
                    body: '',
                    tags: '',
                },
                tags:[],
                errors: {
                },
            }
        },
        mounted() {
            var self = this;
            Vue.axios.get('api/categories').then(function (response) {
                console.log('Fetched categories');
                for(var i = 0, l = response.data.length; i < l; i++){
                    self.tags.push({
                        id:response.data[i].id,
                        name:response.data[i].title,
                    });
                }
            })
        },
        watch: {
        },
        methods: {
            submit(){
                //console.log(this.form);
                const self = this;
                let creds = {
                    'title':this.form.title,
                    'body':this.form.body,
                    'categories':this.form.tags,
                }
                //console.log('Prevalidation',creds);
                if(this.validate(creds)){
                    //console.log('Post new request',creds);

                    Vue.axios.post('api/referendums', {
                            'user':Vue.authentication.user.user.id,
                            'title': creds.title,
                            'body': creds.body,
                            'categories': creds.categories,
                        }).then(function (response) {
                            console.log('Posted new request',response.data);
                            window.router.push({path:'/requests/'+response.data.id});
                        });
                }
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(creds.title.length < 6){
                    valid = false;
                    self.errors.title = 'Invalid Title -- Too short';
                }
                if(creds.body.length < 1){
                    valid = false;
                    self.errors.body = 'Invalid Description -- Too short';
                }
                if(creds.categories.length < 1){
                    valid = false;
                    self.errors.tags = 'Invalid Tags -- At least one is required';
                } else {
                    let catis = creds.categories;
                    creds.categories = [];
                    for(var i = 0, l = catis.length; i < l; i++){
                        creds.categories.push(catis[i].id);
                    }
                }
                return valid;
            },

        }
    }
</script>