<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column ">
            <pantheons-list></pantheons-list>
        </div>
        <div class="buttons flex">
            <router-link to="/vote" class="btn btn-large flex-child stretch" v-if="authenticated">Vote</router-link>
            <router-link to="/login" class="btn btn-large flex-child stretch" v-if="!authenticated">Vote</router-link>
            <div class="splitter"></div>
            <router-link to="/ascend" class="btn btn-large flex-child stretch" v-if="authenticated">Ascend</router-link>
            <router-link to="/login" class="btn btn-large flex-child stretch" v-if="!authenticated">Ascend</router-link>
        </div>
    </div>
</template>

<script>

    import Pantheons from '../components/Pantheons-list.vue';
    export default {
        components: {
            'pantheons-list': Pantheons,
        },
        data(){
            return {
                authenticated: Vue.authentication.user.authenticated
            }
        }
    }
</script>
