<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column">
            <referendums-list></referendums-list>
        </div>
    </div>
</template>

<script>
    import Referendums from '../components/Referendums-list.vue';
    export default {
        components: {
            'referendums-list': Referendums,
        },
        data(){
            return {

            }
        },
        mounted() {
            var self = this;
            console.log(self);
        },
        methods: {
        }
    };
</script>
