<template>
    <div class="container padded-top flex-child stretch flex column">
        <div class="content-header flex wrap marged-bottom-xl">
            <div class="content-header-back flex">
                <router-link class="" to="/requests" @click.prevent="back">Back</router-link>
            </div>
        </div>
        <div class="text-content blocks" v-if="request && !editing">
            <div :class="'request block block-auto flex no-margin '+((request.voted !== false)?'voted':'')">
                <div class="request-text block-content flex column">
                    <div>
                        <h4 class="block-title request-title unlimited">{{request.title}}</h4>
                    </div>
                    <div class="request-buttons block-actions flex">
                        <div class="request-button block-action">
                            <p>{{ request.votes.length }} votes</p>
                        </div>
                    </div>
                </div>
                <div class="request-vote-btn block-button" @click="voteReferendum($event,request)" title="Vote"><i class="material-icons">add</i></div>
            </div>
            <div class="block block-auto flex no-margin request-description" v-if="request.description">
                <div class="block-content">
                    <p>{{ request.description }}</p>
                </div>
            </div>
            <div class="block block-auto flex no-margin" v-if="request.categories.length > 0">
                <div class="block-tags">
                    <div class="block-tag" v-for="tag in request.categories">
                        {{ tag.title }}
                    </div>
                </div>
            </div>
            <div class="block block-auto flex no-margin" v-if="(request.user_id == userid)">
                <div class="block-tags">
                    <a class="request-button block-action block-tag" @click="editRequest" v-if="!deleted">
                        Edit
                    </a>
                    <a class="request-button block-action" v-if="!deleted">
                        <span class="block-tag" v-if="!deleting" @click="removeRequest">Remove</span>
                        <span class="block-tag" v-if="deleting" @click="remove">Confirm</span>
                        <span class="block-tag secondary" v-if="deleting" @click="removeRequest"> Cancel </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-container" v-if="request && editing">
            <form class="form-horizontal" role="form" v-if="editing && (request.user_id == userid) ">
                <div :class="'form-group' + errors.title ? ' has-error' : '' ">
                    <label for="title" class="col-md-4 control-label">Title</label>
                    <div class="col-md-6">
                        <input id="title" type="text" class="form-control" name="title" value="" required autofocus v-model="form.title" disabled>
                        <span class="help-block" v-if="errors.title">
                            <strong>{{ errors.title }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.body ? ' has-error' : '' ">
                    <label for="body" class="col-md-4 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea id="body" class="form-control materialize-textarea" name="body" value="" required autofocus v-model="form.body"></textarea>
                        <span class="help-block" v-if="errors.body">
                            <strong>{{ errors.body }}</strong>
                        </span>
                    </div>
                </div>
                <div :class="'form-group' + errors.tags ? ' has-error' : '' ">
                    <div class="col-md-6">
                        <label for="tags" class="col-md-4 control-label">Tags</label>
                        <div>
                            <multiselect name="tags" v-if="tags.length > 0" v-model="form.tags"
                                         :options="tags"
                                         :multiple="true"
                                         :close-on-select="false"
                                         :clear-on-select="false"
                                         :hide-selected="true"
                                         placeholder="Pick tags"
                                         label="name"
                                         track-by="id">

                            </multiselect>
                        </div>
                        <span class="help-block" v-if="errors.tags">
                            <strong>{{ errors.tags }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" @click.prevent="edit" class="btn btn-primary">
                            Edit
                        </button>
                        <button class="btn btn-secondary" @click.prevent="editRequest">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <h4 v-if="request">Comments</h4>
        <div class="replier">
            <textarea class="replier-input" v-model="userReply"></textarea>
            <button class="btn" @click="reply">Reply</button>
        </div>
        <div class="blocks comments" v-if="request">
            <comment v-for="comment in comments" v-bind:id="comment.id"
                     v-bind:body='comment.body'
                     v-bind:user="comment.user"
                     v-bind:referendum="comment.referendum_id"
                     v-bind:children="comment.children">></comment>
        </div>
        <div class="flex-child stretch flex justified-c center" v-if="request == null">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    import Comment from '../components/Comment.vue';
    export default {
        components: {
            'comment': Comment,
            Multiselect
        },
        props: ['id'],
        data(){
            return {
                request: null,
                comments: [],
                userid: Vue.authentication.user.user.id,
                userReply:'',
                editing:false,
                deleting:false,
                deleted:false,
                form:{
                    title:'',
                    body: '',
                    tags: [],
                },
                tags:[],
                errors: {
                },
            }
        },
        methods: {
            init(){
                this.fetchRequest();
            },
            back(){
                window.router.go(-1);
            },
            fetchRequest(){
                const self = this;
                const user = Vue.authentication.user.user.id;
                Vue.axios.get('api/referendums/'+self.id).then(function (response) {
                    let voted = false;
                    let request = response.data;
                    if(request.votes !== null){
                        for(var i = 0, l = request.votes.length; i < l; i++){
                            if(request.votes[i].user_id == user && request.votes[i].value === 1){
                                //console.log('Vote',request.votes[i]);
                                voted = request.votes[i].id;
                            }
                        }
                    }
                    request.voted = voted;
                    self.request = request;
                    if(self.userid == self.request.user_id){
                        self.form.title = self.request.title;
                        self.form.body = self.request.description;
                        for(let i = 0, l = self.request.categories.length; i < l; i++){
                            self.form.tags.push({
                                id:self.request.categories[i].id,
                                name:self.request.categories[i].title,
                            });
                        }
                    }
                    for(var i = 0, l = request.comments.length; i < l; i++){
                        request.comments[i].children = [];
                        if(request.comments[i].parent_id == null){
                            self.comments.push(request.comments[i]);
                        } else {
                            for(var o = 0, li = self.comments.length; o < li; o++){
                                if(request.comments[i].parent_id == self.comments[o].id){
                                    self.comments[o].children.push(request.comments[i]);
                                }
                            }
                        }
                    }
                    console.log('Comments',self.comments);
                });
            },

            voteReferendum: function($event,$request){
                if($request.voted !== false){
                    Vue.axios.delete('api/votes/'+$request.voted).then(function (response) {
                        //console.log('Removed the vote',response.data);
                        $request.voted = false;
                        $request.votes.splice(0,1);
                    });
                } else {
                    Vue.axios.post('api/votes', {
                        'user':Vue.authentication.user.user.id,
                        'election': null,
                        'candidate': null,
                        'value': 1,
                        'referendum': $request.id,
                    }).then(function (response) {
                        //console.log('Voted for a referendum',response.data);
                        $request.votes.push(response.data);
                        $request.voted = response.data.id;
                    });

                }
            },
            replyComment(){
                this.replying = (this.replying)?false:true;
            },
            reply(){
                const self = this;
                Vue.axios.post('api/comments', {
                    'user':Vue.authentication.user.user.id,
                    'body': self.userReply,
                    'referendum': self.id,
                }).then(function (response) {
                    console.log('Replied to a referendum',response.data);
                    self.comments.push(
                        {
                            id:response.data.id,
                            body:response.data.body,
                            referendum_id:response.data.referendum_id,
                            children:[],
                            user:Vue.authentication.user.user
                        }
                    );
                    self.userReply = '';
                });
            },
            editRequest(){
                const self = this;
                this.editing  = (self.editing)?false:true;
                if(self.tags.length < 1){
                    Vue.axios.get('api/categories').then(function (response) {
                        //console.log('Fetched categories');
                        for(let i = 0, l = response.data.length; i < l; i++){
                            self.tags.push({
                                id:response.data[i].id,
                                name:response.data[i].title,
                            });
                        }
                    })
                }
            },
            edit(){
                const self = this;
                let creds = {
                    'title':this.form.title,
                    'body':this.form.body,
                    'categories':this.form.tags,
                    'user':Vue.authentication.user.user.id,
                }
                //console.log('Prevalidation',creds);
                if(this.validate(creds)){
                    //console.log('Post new request',creds);

                    Vue.axios.patch('api/referendums/'+self.request.id, {
                        'body': creds.body,
                        'categories': creds.categories,
                    }).then(function (response) {
                        console.log('Updated request',response.data);
                        self.editing = false;
                        self.request.title = response.data.title;
                        self.request.description = response.data.description;
                        self.request.categories = [];
                        for(let i = 0, l = self.form.tags.length; i < l; i++){
                            self.request.categories.push({
                                id:self.form.tags[i].id,
                                title:self.form.tags[i].name,
                            });
                        }
                    });
                }
            },
            removeRequest(){
                this.deleting = (this.deleting)?false:true;
            },
            remove(){
                const self = this;
                Vue.axios.delete('api/referendums/'+this.id).then(function (response) {
                    console.log('Removed the referendum',response.data);
                    self.deleted = true;
                    self.deleting = false;
                });
            },
            validate(creds){
                const self = this;
                let valid = true;
                self.errors = {};
                if(creds.title !== self.request.title){
                    valid = false;
                    self.errors.title = 'Invalid Title -- You changed it.';
                }
                if(creds.body.length < 1){
                    valid = false;
                    self.errors.body = 'Invalid Description -- Too short';
                }
                if(creds.categories.length < 1){
                    valid = false;
                    self.errors.tags = 'Invalid Tags -- At least one is required';
                } else {
                    let catis = creds.categories;
                    creds.categories = [];
                    for(var i = 0, l = catis.length; i < l; i++){
                        creds.categories.push(catis[i].id);
                    }
                }
                if(creds.user !== self.request.user_id){
                    valid = false;
                    self.errors.tags += '/n User does not match user from request.';
                }
                return valid;
            },
        },
        mounted(){
            this.init();
        }
    }
</script>