<template>
    <div class="wrapling flex column">
        <div class="container padded-top flex-child stretch flex column">
            <votes-list></votes-list>
        </div>
        <div class="buttons flex">
            <button class="btn btn-large flex-child stretch vote-btn vote-yay" @click="vote(true)">Yay</button>
            <div class="splitter"></div>
            <div class="info-orb tooltipped" data-position="top" data-delay="50" data-tooltip="Once you vote you can't change your choice.">i</div>
            <button class="btn btn-large flex-child stretch grey darken-4 white-text vote-btn vote-nay" @click="vote(false)">Nay</button>
        </div>
    </div>
</template>

<script>
    import Votes from '../components/Votes-list.vue';
    export default {
        components: {
            'votes-list': Votes,
        },
        data(){
            return {

            }
        },
        mounted() {
            var self = this;
            console.log(self);
        },
        methods: {
            vote(value){

                var stack = this.$children[0].heap;
                var el = document.querySelector('.stack').lastChild;
                var card = stack.getCard(el);
                var Card = window.swing.Card;
                if(value){
                    card.throwOut(Card.DIRECTION_LEFT, 0);
                } else {
                    card.throwOut(Card.DIRECTION_RIGHT, 0);
                }
            }
        }
    };
</script>
